.menu-navigation {
    display: flex;
    gap: 3rem;
    background: #2D2D2D;
    color: #fff;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

    a:hover {
        color: #ffffff;
    }
