.post {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 25rem;
    justify-content: center;
}

.banner-post {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.banner-post, .first-banner-post {
    transition: transform .8s;
}

.first-banner-post {
    width: 45rem;
    height: 30rem;
    border-radius: 3rem;
}

.first-banner-post-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.posts-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    align-items: center;
}

.post-title {
    font-size: 1.4rem;
    text-align: center;
    height: 4rem;
}

.info-post {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

    .info-post img {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
    }

.blank {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.post-category {
    position: absolute;
    background: #7500B8;
    border-radius: 1rem;
    margin: 0 0 21rem -15rem;
    height: 2rem;
    color: #fff;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.first-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.purple-strip {
    margin-bottom: 2rem;
    font-size: 2rem;
    background: #7500B8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-first-post {
    width: 40rem; 
    height: 15rem; 
    border-radius: 2rem;
}

@media(max-width: 1540px) {
    .info-first-post {
        width: 24rem;
        height: 12rem;
    }

    .first-banner-post {
        width: 40rem;
        height: 25rem;
    }

    .first-banner-post-content h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 1350px) {
    .first-banner-post {
        width: 25rem;
        height: 15rem;
    }
}

@media(max-width: 800px) {
    .first-banner-post {
        width: 25rem;
        height: 15rem;
    }

    .first-banner-post-content {
        gap: 2rem;
    }
}

@media(max-width: 500px) {
    .banner-post {
        width: 22rem;
        height: 12rem;
    }

    .post-category {
        margin-right: 13rem;
        margin-bottom: 17rem;
    }

    .purple-strip {
        font-size: 1.5rem;
    }

    .first-banner-post {
        width: 22rem;
        height: 12rem;
    }
}

