.post-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

    .post-content h1 {
        width: 50rem;
    }

.banner-post-view {
    width: 50rem;
    height: 30rem;
    border-radius: 3rem;
}

.content-text {
    width: 50rem;
    margin-top: 2rem;
}

#post-title {
    width: 50rem;
    height: 2.5rem;
}

.small-author {
    width: 25rem;
    height: 5rem;
    border-radius: 2rem;
}

.content-blank {
    height: 60rem;
    width: 50rem;
    border-radius: 3rem;
}

@media(max-width: 890px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 47rem;
    }
}

@media(max-width: 820px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 45rem;
    }
}

@media(max-width: 780px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 40rem;
    }


    .banner-post-view {
        height: 25rem;
    }
}

@media(max-width: 720px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 30rem;
    }

    .banner-post-view {
        height: 20rem;
    }
}

@media(max-width: 520px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 25rem;
    }

    .banner-post-view {
        height: 15rem;
    }
}

@media(max-width: 440px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 22rem;
    }

    .banner-post-view {
        height: 12rem;
    }
}

@media(max-width: 400px) {
    .banner-post-view, .content-text, #post-title, .content-blank, .post-content h1 {
        width: 19rem;
    }

    .banner-post-view {
        height: 9rem;
    }
}