.post {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 25rem;
    height: 25rem;
    justify-content: flex-start;
}

.banner-post {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.banner-post, .first-banner-post {
    transition: transform .8s;
}

.first-banner-post {
    width: 36rem;
    height: 25rem;
    border-radius: 2rem;
}

.first-banner-post-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 4rem;
}

.posts-content {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
    padding-left: 0;
    grid-template-columns: repeat(3, 0fr);
}

.post-title {
    font-size: 1.4rem;
    text-align: center;
}

.info-post {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

    .info-post img {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
    }

    .info-post span {
        font-size: 1rem;
    }

.blank {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.post-category {
    position: absolute;
    background: #7500B8;
    border-radius: 1rem;
    height: 2rem;
    margin-top: 1rem;
    margin-right: 15rem;
    color: #fff;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.first-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.purple-strip {
    margin-bottom: 2rem;
    font-size: 2rem;
    background: #7500B8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-first-post {
    width: 40rem; 
    height: 15rem; 
    border-radius: 2rem;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
    border-radius: 2rem;
}

    .img-wrapper img {
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        vertical-align: middle;
    }

.img-wrapper img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.load-more-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

    .load-more-content button {
        border-radius: 2rem;
        background: #7500B8;
        color: #fff;
        border: none;
        height: 3rem;
        width: 15rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

        .load-more-content button:disabled {
            background: #7500b878;
            cursor: wait;
        }

@media(max-width: 1540px) {
    .info-first-post {
        width: 24rem;
        height: 12rem;
    }
}

@media(max-width: 1350px) {
    .first-banner-post {
        width: 25rem;
        height: 15rem;
    }

    .posts-content {
        grid-template-columns: repeat(2, 0fr);
    }

    .first-banner-post-content h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: 920px) {
    .posts-content {
        grid-template-columns: repeat(1, 0fr);
    }
}

@media(max-width: 800px) {
    .first-banner-post {
        width: 25rem;
        height: 15rem;
    }

    .first-banner-post-content {
        gap: 2rem;
    }
}

@media(max-width: 500px) {
    .banner-post {
        width: 22rem;
        height: 12rem;
    }

    .post-category {
        margin-bottom: 17rem;
        margin-right: 13rem;
    }

    .post-title {
        font-size: 1.2rem;
    }

    .purple-strip {
        font-size: 1.5rem;
    }

    .first-banner-post {
        width: 22rem;
        height: 12rem;
    }

    .post {
        height: 21rem;
        width: 22rem;
    }
}
