
<ul class="@(_categories != null ? "menu-navigation" : "menu-navigation  loading-bg" )">
    @if (_categories != null)
    {
        @foreach (var category in _categories)
        {

            <li><a href=''>@category.Name</a></li>

        }
    }
</ul>


@code {
    private List<CategoryDTO> _categories;

    protected override async Task OnInitializedAsync()
    {
        _categories = await GetAllCategories();
    }

    private async Task<List<CategoryDTO>> GetAllCategories()
    {
        var request = await new CrudService(new HttpClient()).Get(Endpoints.Category);
        return JsonConvert.DeserializeObject<List<CategoryDTO>>(await request.Content.ReadAsStringAsync());
    }
}
