@page "/post/{Title}"

@if(_post != null) {
    <span> @((MarkupString)_post.Content)</span>
}

@code {
    private PostDTO _post;

    [Parameter]
    public string Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _post = await GetPost();
    }

    private async Task<PostDTO> GetPost() {
        var request = await new CrudService(new HttpClient()).Get($"{Endpoints.Post}/GetPostByFormattedTitle", $"?formattedTitle={Title}");
        return JsonConvert.DeserializeObject<PostDTO>(await request.Content.ReadAsStringAsync());
    }
}