@page "/post/{Title}"

@if (_loading == false)
{
    if (_post != null) {
        <PageTitle>Blog Rebuild | @_post.Title </PageTitle>
        <span> @((MarkupString)_post.Content)</span>
    }
    else {
        <span>Fala Dev! Não encontrei esse post..</span>
    }
}

@code {
    private PostDTO _post;
    private bool _loading = true;

    [Parameter]
    public string Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _post = await GetPost();
        _loading = false;
    }

    private async Task<PostDTO> GetPost() {
        var request = await new CrudService(new HttpClient()).Get($"{Endpoints.Post}/GetPostByFormattedTitle", $"?formattedTitle={Title}");
        return JsonConvert.DeserializeObject<PostDTO>(await request.Content.ReadAsStringAsync());
    }
}