
<footer>
    <span>Desenvolvido em Blazor</span>
    <img src="./images/logo.png" @onclick='()=> { navigationManager.NavigateTo("/");}' style="cursor: pointer; " />
    <span>© @(DateTime.Now.Year) Blog Rebuild </span>
</footer>


