@using BlogRebuild.Pages
@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <div style="display: flex; justify-content: center;  height: 6rem; align-items: center;">
            <img src="./images/logo.png"/>
        </div>

        <MenuNavigation></MenuNavigation>

        <article class="content" style="padding: 0 !important; margin: 0 3rem;">
            @Body
        </article>
    </main>
</div>
