@using BlogRebuild.Pages
@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <div style="display: flex; justify-content: center;  height: 8rem; align-items: center;">
            <img src="./images/logo.png" @onclick='()=> { navigationManager.NavigateTo("/");}' style="cursor: pointer; " />
        </div>

        <MenuNavigation></MenuNavigation>

        <article class="content" style="padding: 0 !important;">
            @Body
        </article>

        <Footer></Footer>
    </main>
</div>
