
<PageTitle>Blog Rebuild | Página Não Encontrada</PageTitle>
<div style="display: flex; align-items: center; gap: 3rem; flex-direction: column; text-align: center;">
   <h2>Fala Dev! Não encontrei nada aqui...</h2>
   <img src="./images/gif-do-meme-john-travolta-perdido-14.gif" />
    <button type="button" class="btn btn-primary btn-lg btn-block" @onclick='() => { navigationManager.NavigateTo("/"); }'>Voltar à Página Inicial</button>
</div>